/*----------------------- Hero Contact Section --------------------------*/

.hero-contact-section {
    position: relative;
    aspect-ratio: 16 / 7;
    overflow: hidden;
}

.hero-contact-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.45);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlay .container {
    margin-top: 150px;
}

.overlay h1 {
    margin: 0 0 13px;
    color: var(--white);
    max-width: 100%;
    text-align: left;
}

.hero-contact-line {
    height: 4px;
    width: 540px;
    background-color: var(--white);
}

.overlay p {
    color: var(--white);
    max-width: 900px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

/*-------------------------- Contact Section ---------------------------*/

.contact-wrapper,
.input-wrapper {
    display: flex;
    justify-content: space-between;
}

.contact-wrapper h3 {
    margin-bottom: 18px;
}

.info-items {
    margin-bottom: 40px;
}

.form-section {
    max-width: 650px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input,
textarea {
    font-family: "Space Grotesk", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.input-wrapper input {
    height: 50px;
    padding: 10px;
    width: calc(50% - 5px);
    border-radius: 0;
    border-width: 1px;
    border-color: var(--dark-blue);
    color: var(--dark-blue);
    outline: none;
}

.input-message textarea {
    height: 200px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 0;
    border-width: 1px;
    border-color: var(--dark-blue);
    color: var(--dark-blue);
    outline: none;
    max-width: 650px;
}

.input-wrapper input::placeholder,
.input-message textarea::placeholder {
    color: var(--dark-blue);
}

.input-wrapper input:focus,
.input-message textarea:focus {
    border-radius: 4px;
    border: var(--gold) 2px solid;
}

.white-button {
    display: inline-block;
    padding: 10px 30px;
    border: var(--gold) solid 3px;
    background-color: var(--white);
    color: var(--dark-blue);
    transition: all 0.5s ease;
    cursor: pointer;
    font-size: 14px;
}

.white-button:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}

/*--------------------------- Maps Section -----------------------------*/

.maps-items {
    margin: 60px 0;
}

.maps-items h2 {
    margin-bottom: 40px;
}