:root {
    --dark-blue: #122A57;
    --gold: #DBA723;
    --silver: #f1f1f1;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: "Space Grotesk", Arial, sans-serif;
    font-weight: 400;
    color: var(--dark-blue);
}

h2 {
    font-family: "Libre Baskerville", 'Times New Roman', serif;
    font-size: 40px;
    color: var(--dark-blue);
    max-width: 700px;
    text-align: center;
    margin: 10px auto 30px;
}

h3 {
    font-family: "Libre Baskerville", 'Times New Roman', serif;
    font-size: 24px;
    color: var(--dark-blue);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.all-section {
    margin: 60px 0;
}

/*------------------------------ Navbar --------------------------------*/

.navbar {
    background-color: var(--dark-blue);
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
    z-index: 999;
    border-bottom: 6px solid var(--gold);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
}

.nav-wrapper {
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    flex: 35%;
    flex-direction: row;
}

.nav-menu-left {
    justify-content: left;
}

.nav-menu-right {
    justify-content: right;
    align-items: center;
}

.nav-link {
    padding: 18px;
    font-size: 16px;
    font-weight: 500;
}

.nav-link a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.4s ease;
}

.nav-link a:hover {
    color: var(--gold);
}

.nav-link-right a {
    display: flex;
    align-items: center;
}

.nav-link-right img {
    margin-left: 8px;
}

.brand {
    display: flex;
    flex: 30%;
    justify-content: center;
}

.brand img {
    width: 220px;
}

/*----------------------- Suggestions section --------------------------*/

.suggestions-section {
    padding: 20px;
    background-color: var(--gold);
}

.suggestion-wrapper {
    display: flex;
    justify-content: space-between;
}

.suggestion-items {
    display: flex;
    align-items: center;
}

.suggestion-items img {
    margin-right: 15px;
}

/*------------------------------ Footer --------------------------------*/

.footer {
    border-top: 0px solid var(--dark-blue);
}

.main-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px 0;
}

.main-footer-column-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    width: 220px;
    margin-bottom: 10px;
}

.main-footer-headings {
    margin-top: 0px;
    margin-bottom: 10px;
}

.main-footer-column-wrapper a {
    color: var(--dark-blue);
    text-decoration: none;
    transition: color 0.4s ease;
}

.main-footer-column-wrapper a:hover {
    color: var(--gold);
}


.main-footer-column-wrapper span {
    padding: 3px 0;
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.social-media a {
    margin-right: 15px;
    transition: all 0.5s ease;
}

.social-media a:hover {
    transform: scale(1.1);
}

.secondary-footer {
    background: var(--dark-blue);
    color: var(--white);
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.secondary-footer p {
    margin: 0;
}

.powered-by {
    color: var(--gold);
}