/*-------------------- Products Header Section ---------------------*/

.products-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.brand-logo-wrapper {
    display: flex;
    gap: 12px;
    align-items: center
}

.brand-logo {
    width: 60px;
    height: 60px;
    border: var(--gold) 3px solid;
}

.brand-logo-wrapper h2 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 1px;
}

.subtitle {
    margin: 0;
    color: var(--gold);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.controls {
    display: flex;
    gap: 10px;
    align-items: center
}

.search {
    padding: 10px 12px;
    border-radius: 0;
    border: var(--dark-blue) 1px solid;
    background: var(--white);
    color: var(--dark-blue);
    outline: none;
    width: 220px
}

.search::placeholder {
    color: var(--dark-blue);
}

select {
    padding: 10px;
    border: var(--dark-blue) 1px solid;
    border-color: var(--dark-blue);
    background: var(--white);
    color: var(--dark-blue);
    outline: none;
    cursor: pointer
}

/*-----*/
button.btn-icon {
    background: var(--white);
    border: var(--dark-blue) 1px solid;
    padding: 10px;
    border-radius: 0;
    cursor: pointer
}

/*----------------------- Products Section --------------------------*/

.products-section-wrapper {
    margin-top: 45px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px
}

.products-section-items-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px 20px;
    width: 100%;
    min-height: 500px;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.products-section-items {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    padding: 30px 40px;
    background-color: var(--silver);
    align-items: center;
    text-align: center;
    transition: all 0.6s ease;
}

.products-section-items:hover {
    margin-top: -20px;
    margin-bottom: 20px;
}

.products-section-items img {
    max-width: 180px;
    max-height: 270px;
}

.products-section-items a {
    text-decoration: none;
}

.products-section-items a:nth-child(1) {
    margin-bottom: 20px;
}

.products-section-items h3 {
    font-size: 14px;
    transition: color 0.4s ease;
    margin: 0;
}

.products-section-items h3:hover {
    color: var(--gold);
}

.products-section-items span:nth-child(3) {
    font-size: 14px;
    font-weight: 500;
    color: var(--gold);
    margin: 8px 0;
}

.products-section-items a:nth-child(5) {
    margin-top: 20px;
}

.white-button {
    display: inline-block;
    padding: 10px 30px;
    border: var(--gold) solid 3px;
    background-color: var(--white);
    color: var(--dark-blue);
    transition: all 0.5s ease;
}

.white-button:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}

/*---------------------- Products Cart Section -----------------------*/

.products-cart-wrapper {
    background-color: var(--silver);
    padding: 10px;
    height: fit-content;
}

.products-cart-wrapper h3 {
    margin: 0;
}

.products-cart-list {
    overflow: auto;
}

.products-cart-list p {
    color: var(--gold);
    margin: 20px 0;
}

.products-cart-total-wrapper {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.order-button {
    margin-top: 15px;
    padding: 10px 50px;
    font-size: 14px;
    border: var(--gold) 3px solid;
    background: var(--dark-blue);
    color: var(--white);
    cursor: pointer;

    transition: all 0.5s ease;
}

.order-button:hover {
    background-color: var(--white);
    color: var(--dark-blue);
}

.products-added-to-cart-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-img-mini-info-wrapper {
    display: flex;
    align-items: center;
}

.product-img-mini-info-wrapper img {
    margin: 15px 0;
    max-height: 80px;
}

.product-mini-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-left: 10px;
}

.product-mini-info span {
    font-weight: 500;
}

.product-mini-info span:nth-child(1) {
    font-size: 15px;
}

.product-mini-info span:nth-child(2) {
    color: var(--gold);
    font-size: 13px;
    margin: 1px 0;
}

.product-quantity-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.product-quantity-wrapper span {
    font-size: 14px;
}

.product-quantity {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.product-quantity span {
    font-size: 16px;
    font-weight: 500;
}

.product-quantity span:nth-child(2) {
    margin: 0 10px;
}

.product-quantity span:nth-child(1),
.product-quantity span:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: var(--gold);
    color: var(--dark-blue);
    width: 20px;
    height: 20px;
    cursor: pointer;
}