:root {
    --dark-blue: #122A57;
    --gold: #DBA723;
    --silver: #f1f1f1;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: "Space Grotesk", Arial, sans-serif;
    font-weight: 400;
    color: var(--dark-blue);
}

h1 {
    font-family: "Libre Baskerville", 'Times New Roman', serif;
    font-size: 60px;
    color: var(--dark-blue);
    max-width: 700px;
    text-align: center;
    margin: 10px auto 30px;
}

h2 {
    font-family: "Libre Baskerville", 'Times New Roman', serif;
    font-size: 40px;
    color: var(--dark-blue);
    max-width: 700px;
    text-align: center;
    margin: 10px auto 30px;
}

h3 {
    font-family: "Libre Baskerville", 'Times New Roman', serif;
    font-size: 24px;
    color: var(--dark-blue);
}

h4 {
    font-family: "Libre Baskerville", 'Times New Roman', serif;
    font-size: 18px;
    color: var(--dark-blue);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.all-section {
    margin: 60px 0;
}

.hidden-element {
    display: block;
}

/*------------------------------ Navbar --------------------------------*/

.navbar {
    background-color: var(--dark-blue);
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
    z-index: 999;
    border-bottom: 6px solid var(--gold);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
}

.nav-wrapper {
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    flex: 35%;
    flex-direction: row;
}

.nav-menu-left {
    justify-content: left;
}

.nav-menu-right {
    justify-content: right;
    align-items: center;
}

.nav-link {
    padding: 18px;
    font-size: 16px;
    font-weight: 500;
}

.nav-link a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.4s ease;
}

.nav-link a:hover {
    color: var(--gold);
}

.nav-link-right a {
    display: flex;
    align-items: center;
}

.nav-link-right img {
    margin-left: 8px;
}

.brand {
    display: flex;
    flex: 30%;
    justify-content: center;
}

.brand img {
    width: 220px;
}

.orders-btn {
    display: none;
}

/*----------------------- Suggestions section --------------------------*/

.suggestions-section {
    padding: 20px;
    background-color: var(--gold);
}

.suggestion-wrapper {
    display: flex;
    justify-content: space-between;
}

.suggestion-items {
    display: flex;
    align-items: center;
}

.suggestion-items img {
    margin-right: 15px;
}

/*------------------------------ Footer --------------------------------*/

.footer {
    border-top: 0px solid var(--dark-blue);
}

.main-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px 0;
}

.main-footer-column-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    width: 220px;
    margin-bottom: 10px;
}

.main-footer-headings {
    margin-top: 0px;
    margin-bottom: 10px;
}

.main-footer-column-wrapper a {
    color: var(--dark-blue);
    text-decoration: none;
    transition: color 0.4s ease;
}

.main-footer-column-wrapper a:hover {
    color: var(--gold);
}


.main-footer-column-wrapper span {
    padding: 3px 0;
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.social-media a {
    margin-right: 15px;
    transition: all 0.5s ease;
}

.social-media a:hover {
    transform: scale(1.1);
}

.secondary-footer {
    background: var(--dark-blue);
    color: var(--white);
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.secondary-footer p {
    margin: 0;
}

.powered-by {
    color: var(--gold);
}

/*---------------------------- Pop-Up Cart -----------------------------*/

.pop-up-cart {
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    width: 440px;
    z-index: 900;
    padding: 100px 30px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--silver);
    transition: all 3s ease;
    overflow-y: auto;
    overflow-x: hidden;
}

.pop-up-cart h3 {
    margin: 0;
}

.pop-up {
    right: 0;
    transition: all 1.6s ease;
}

.products-cart-list {
    overflow: auto;
}

.products-cart-list p {
    color: var(--gold);
    margin: 20px 0;
}

.products-cart-total-wrapper {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.order-button {
    margin-top: 15px;
    padding: 10px 50px;
    font-size: 14px;
    border: var(--gold) 3px solid;
    background: var(--dark-blue);
    color: var(--white);
    cursor: pointer;

    transition: all 0.5s ease;
}

.order-button:hover {
    background-color: var(--white);
    color: var(--dark-blue);
}

.products-added-to-cart-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-img-mini-info-wrapper {
    display: flex;
    align-items: center;
}

.product-img-mini-info-wrapper img {
    margin: 15px 0;
    max-height: 80px;
}

.product-mini-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-left: 10px;
}

.product-mini-info span {
    font-weight: 500;
}

.product-mini-info span:nth-child(1) {
    font-size: 15px;
}

.product-mini-info span:nth-child(2) {
    color: var(--gold);
    font-size: 13px;
    margin: 1px 0;
}

.product-quantity-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.product-quantity-wrapper span {
    font-size: 14px;
}

.product-quantity {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.product-quantity span {
    font-size: 16px;
    font-weight: 500;
}

.product-quantity span:nth-child(2) {
    margin: 0 10px;
}

.product-quantity span:nth-child(1),
.product-quantity span:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gold);
    color: var(--dark-blue);
    width: 20px;
    height: 20px;
    cursor: pointer;
    user-select: none;
}

/*--------------------- Pop-Up Product ---------------------*/

.pop-up-product {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--silver);
    z-index: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-product-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    align-items: center;
    background-color: var(--silver);
    height: fit-content;
    margin-right: 40px;
}

.pop-up-product-wrapper img {
    max-height: 400px;
}

.pop-up-product-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    position: relative;
}

.pop-up-product-content h3 {
    margin: 0 0 15px;
}

.pop-up-product-content span {
    margin: 2px 0;
}

.pop-up-product-content>span:nth-child(3) {
    color: var(--gold);
}

.pop-up-product-content .product-quantity {
    margin: 15px 0;
}

.product-description p {
    margin: 5px 0 30px;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 0;
    cursor: pointer;
}

.pop-up-product-close {
    display: none;
}

.white-button {
    display: inline-block;
    padding: 10px 30px;
    border: var(--gold) solid 3px;
    background-color: var(--white);
    color: var(--dark-blue);
    transition: all 0.5s ease;
}

.white-button:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}

/*----------------------- Pop-Up Search ----------------------*/

.pop-up-search {
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    width: 400px;
    z-index: 950;
    padding: 105px 30px 30px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--silver);
    transition: all 3s ease;
    overflow-y: auto;
    overflow-x: hidden;
}

.pop-up-search input {
    width: 100%;
    margin-bottom: 10px;
}

.pop-up {
    right: 0;
    transition: all 1.6s ease;
}

.filtered-search-products a {
    text-decoration: none;
}

.filtered-product-mini-info {
    margin-left: 18px;
    gap: 2px;
}

.filtered-product-mini-info span:nth-child(1) {
    font-size: 16px;
    color: var(--dark-blue);
}

.filtered-product-mini-info span:nth-child(2) {
    font-size: 14px;
}

.filtered-product-mini-info span:nth-child(3) {
    font-size: 15px;
    color: var(--dark-blue);
}

.search {
    padding: 10px 12px;
    border-radius: 0;
    border: var(--dark-blue) 1px solid;
    background: var(--white);
    color: var(--dark-blue);
    outline: none;
    width: 220px
}

.search::placeholder {
    color: var(--dark-blue);
}

