<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Satovi</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/watches.css">
    <link rel="icon" type="image/svg+xml" href="static/images/icons/favicon.svg">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Space+Grotesk:wght@300..700&display=swap');
    </style>

</head>

<body>

    <div class="navbar">
        <div class="container">
            <div class="nav-wrapper">
                <div class="nav-menu nav-menu-left">
                    <div class="nav-link"><a href="./"><span>Početna</span></a></div>
                    <div class="nav-link"><a href="{{ url_for('watches') }}"><span>Satovi</span></a></div>
                    <div class="nav-link"><a href="{{ url_for('about') }}"><span>O nama</span></a></div>
                    <div class="nav-link"><a href="{{ url_for('contact') }}"><span>Kontakt</span></a></div>
                </div>
                <div class="brand">
                    <a href="./"><img src="{{ url_for('static', filename='images/logo/Everwatch_White_Logo.svg') }}" alt="Everwatch Logo"></a>
                </div>
                <div class="nav-menu nav-menu-right">
                    <div class="nav-link nav-link-right orders-btn" id="orders-btn">
                        <a href="{{ url_for('orders') }}">
                            <span>Narudžbine</span>
                            <img src="{{ url_for('static', filename='images/icons/box_icon.svg') }}" alt="Narudžbine">
                        </a>
                    </div>
                    <div class="nav-link nav-link-right" id="cart-btn">
                        <a href="">
                            <span>Korpa</span>
                            <img src="{{ url_for('static', filename='images/icons/icon_cart_gold.svg') }}" alt="Korpa">
                        </a>
                    </div>
                    <div class="nav-link nav-link-right" id="search-btn">
                        <a href="">
                            <span>Pretraga</span>
                            <img src="{{ url_for('static', filename='images/icons/icon_search_gold.svg') }}" alt="Pretraga">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="products-header">
        <div class="container">
            <div class="products-header-wrapper">
                <div class="brand-logo-wrapper">
                    <div class="brand-logo">
                        <img src="{{ url_for('static', filename='images/icons/favicon.svg') }}" alt="Everwatch logo">
                    </div>
                    <div>
                        <h2>Everwatch - Prodavnica</h2>
                        <p class="subtitle">Originalni satovi iz naše ponude</p>
                    </div>
                </div>
                <div class="controls">
                    <input class="search" placeholder="Pretražite satove..." id="search">
                    <select id="filter">
                        <option value="all">Svi</option>
                        <option value="men">Muški</option>
                        <option value="women">Ženski</option>
                        <option value="kid">Dečiji</option>
                        <option value="universal">Univerzalni</option>
                    </select>
                    <select id="filter-brands">
                        <option value="all">Svi</option>
                        <option value="calypso">Calypso</option>
                        <option value="casio">Casio</option>
                        <option value="daniel klein">Daniel Klein</option>
                        <option value="edifice">Edifice</option>
                        <option value="esprit">Esprit</option>
                        <option value="fossil">Fossil</option>
                        <option value="guess">Guess</option>
                        <option value="lotus">Lotus</option>
                        <option value="police">Police</option>
                        <option value="rosefield">Rosefield</option>
                        <option value="sector">Sector</option>
                        <option value="tommy hilfiger">Tommy Hilfiger</option>
                    </select>
                    <select id="filter-stock">
                        <option value="all">Svi</option>
                        <option value="in_stock">Na stanju</option>
                        <option value="out_stock">Nije na stanju</option>
                    </select>
                    <select id="sort">
                        <option value="default">Sortiraj</option>
                        <option value="price-asc">Rastuće</option>
                        <option value="price-desc">Opadajuće</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="products-section all-section">
        <div class="container">
            <div class="products-section-wrapper">
                <div class="products-section-items-wrapper"></div>
                <div class="products-cart-wrapper">
                    <h3 class="cart-title">Korpa</h3>
                    <div class="products-cart-list" id="products-cart-list">
                        <p>Korpa je prazna</p>
                    </div>
                    <div class="products-cart-total-wrapper">
                        <span>Ukupno:</span>
                        <span class="products-cart-total">0 RSD</span>
                    </div>
                    <a href="{{ url_for('ordering') }}"><button class="order-button" id="order-button">Naruči</button></a>
                </div>

            </div>
        </div>
    </div>

    <div class="suggestions-section">
        <div class="container">
            <div class="suggestion-wrapper">
                <div class="suggestion-items">
                    <img src="{{ url_for('static', filename='images/icons/transport_icon.png') }}" alt="Dostava">
                    <span>Brza i besplatna dostava</span>
                </div>
                <div class="suggestion-items">
                    <img src="{{ url_for('static', filename='images/icons/discount_icon.png') }}" alt="Popust">
                    <span>Popust za više kupovina</span>
                </div>
                <div class="suggestion-items">
                    <img src="{{ url_for('static', filename='images/icons/guarantee_icon.png') }}" alt="Garancija i kvalitet">
                    <span>Garancija i kvalitet</span>
                </div>
                <div class="suggestion-items">
                    <img src="{{ url_for('static', filename='images/icons/secure_icon.png') }}" alt="Sigurnost">
                    <span>Sigurna kupovina</span>
                </div>
                <div class="suggestion-items">
                    <img src="{{ url_for('static', filename='images/icons/clean_icon.png') }}" alt="Čišćenje">
                    <span>Besplatno čišćenje</span>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="main-footer">
                <div class="main-footer-column-wrapper">
                    <a href="./"><img class="footer-logo" src="{{ url_for('static', filename='images/logo/Everwatch_Dark_Blue_Logo.svg') }}"
                            alt="Everwatch Logo"></a>
                    <span>Telefon: 065 / 352 - 2376</span>
                    <span>E-mail: everwatch@store.com</span>
                    <span>Radno vreme: Pon - Sub | 09:00 - 21:00h</span>
                    <div class="social-media">
                        <a href=""><img src="{{ url_for('static', filename='images/icons/instagram_icon.svg') }}" alt="Instagram"></a>
                        <a href=""><img src="{{ url_for('static', filename='images/icons/facebook_icon.svg') }}" alt="Facebook"></a>
                        <a href=""><img src="{{ url_for('static', filename='images/icons/tiktok_icon.svg') }}" alt="TikTok"></a>
                    </div>
                </div>
                <div class="main-footer-column-wrapper">
                    <h4 class="main-footer-headings">KATEGORIJE</h4>
                    <span><a href="{{ url_for('watches') }}">Muški satovi</a></span>
                    <span><a href="{{ url_for('watches') }}">Ženski satovi</a></span>
                    <span><a href="{{ url_for('watches') }}">Dečiji satovi</a></span>
                    <span><a href="{{ url_for('watches') }}">Univerzalni satovi</a></span>
                </div>
                <div class="main-footer-column-wrapper">
                    <h4 class="main-footer-headings">STRANICE</h4>
                    <span><a href="./">Početna</a></span>
                    <span><a href="{{ url_for('watches') }}">Satovi</a></span>
                    <span><a href="{{ url_for('about') }}">O nama</a></span>
                    <span><a href="{{ url_for('contact') }}">Kontakt</a></span>
                </div>
                <div class="main-footer-column-wrapper footer-adress">
                    <h4 class="main-footer-headings">ADRESE</h4>
                    <span><a href="https://maps.app.goo.gl/BhVTMaVYNitir9UP9">Cara Dušana 28, 32000 Čačak</a></span>
                    <span><a href="https://maps.app.goo.gl/koWVqHBNcY9CcqTXA">Maksima Gorkog 53a, 11000
                            Beograd</a></span>
                    <span><a href="https://maps.app.goo.gl/zRZgwo7hYTFejw647">Branislava Nušića 12, 21000 Novi
                            Sad</a></span>
                    <span><a href="https://maps.app.goo.gl/qiJt9ixKM6LjVd5J6">Vožda Karađorđa 82, 18000
                            Niš</a></span>
                </div>
            </div>
        </div>
        <div class="secondary-footer">
            <div class="container">
                <p>©2025 Everwatch - Sva prava zadržana. &nbsp;&nbsp;|&nbsp;&nbsp; Powered by <span
                        class="powered-by">Musketari</span></p>
            </div>
        </div>
    </div>

    <div class="pop-up-cart">
        <h3 class="cart-title">Korpa</h3>
        <div class="products-cart-list" id="products-cart-list">
            <p>Korpa je prazna</p>
        </div>
        <div class="products-cart-total-wrapper">
            <span>Ukupno:</span>
            <span class="products-cart-total">0 RSD</span>
        </div>
        <a href="{{ url_for('ordering') }}"><button class="order-button" id="order-button">Naruči</button></a>
    </div>

    <div class="pop-up-search">
        <input class="search" placeholder="Pretražite satove..." id="pop-up-search">
        <div class="filtered-search-products">
            <p>Nema rezultata pretrage</p>
        </div>
    </div>

    <div class="pop-up-product pop-up-product-close">
        <div class="pop-up-product-wrapper">
            <img src="{{ url_for('static', filename='images/products/lotus_satovi_lt003.png') }}" alt="Lotus satovi">
            <div class="pop-up-product-content">
                <h3>Lotus satovi</h3>
                <span>Šifra artikla: LT009</span>
                <span>Na stanju</span>
                <span>11.990,00 RSD x 1</span>

                <div class="product-quantity">
                    <span class="counter-desc">-</span>
                    <span class="counter">2</span>
                    <span class="counter-asc">+</span>
                </div>

                <div class="product-description">
                    <p>Rolex Submariner — legendarni ronilački sat s vodootpornošću do 300m, automatski mehanizam,
                        keramički bezel.
                    </p>
                </div>

                <a href="">
                    <div class="white-button product-btn" data-id="${product.id}">
                        <span>Dodaj u korpu</span>
                    </div>
                </a>

                <div class="close-btn">
                    <img src="{{ url_for('static', filename='images/icons/close_icon.svg') }}" alt="Close">
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/watches.js') }}"></script>

</body>

</html>